<div class="row">
  <div class="col col-md-6">
    <h4>Public notes</h4>
    <p>Can be seen by sponsors</p>
    <%= form.text_area :public_notes %>
  </div>
  <div class="col col-md-6">
    <h4>Private notes</h4>
    <p>Can only be seen by students, lawyers, and administrators</p>
    <%= form.text_area :private_notes %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col col-md-12">
    <h2>Additional call questions</h2>
    <p>Input the following information while on the call</p>
    <hr>
    <div class="form-group">
      <%= form.check_box :proper_group_size %>
      <%= form.label :proper_group_size, "Is this group already 5-10 people or will it likely be once fully formed?" %>
    </div>
    <div class="form-group">
      <%= form.label :refugee_name, "Name of principal refugee applicant" %>
      <%= form.text_field :refugee_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :refugee_nationality, "Country of nationality of principal refugee applicant" %>
      <%= form.text_field :refugee_nationality, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :refugee_current_location, "Current country of principal refugee applicant" %>
      <%= form.text_field :refugee_current_location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.check_box :connect_refugee_family_in_canada %>
      <%= form.label :connect_refugee_family_in_canada, "Can we connect you with a refugee and their family in Canada?" %>
    </div>
    <div class="form-group">
      <%= form.check_box :connect_refugee_no_family_in_canada %>
      <%= form.label :connect_refugee_no_family_in_canada, "Can we connect you with a refugee that does not have their family in Canada?" %>
    </div>
  </div>
</div>
