<%= render partial: "admin/nav_bar", locals: { active: 'students' } %>
<h1>Students</h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Province</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Language</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <th scope="row"><%= link_to student.name, admin_student_path(student) %>
          <td><%= student.city %></td>
          <td><%= student.province %></td>
          <td><%= student.email %></td>
          <td><%= student.telephone %></td>
          <td><%= student.language %></td>
          <td><%= student.approved? ? "Approved" : "Pending Approval" %></td>
          <%= form_for student, url: admin_student_path(student), method: :delete do |form| %>
            <td><%= form.submit "Delete", class: 'btn btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
      <%= will_paginate @students %>
    </tbody>
  </table>
</div>
