<ul class="nav nav-tabs">
  <li role="presentation" class='<%= "active" if active == 'home' %>'><%= link_to "Home", admin_root_path %></li>
  <li role="presentation" class='<%= "active" if active == 'applications' %>'><%= link_to "Applications", admin_applications_path %></li>
  <li role="presentation" class='<%= "active" if active == 'students' %>'><%= link_to "Students", admin_students_path %></li>
  <li role="presentation" class='<%= "active" if active == 'lawyers' %>'><%= link_to "Lawyers", admin_lawyers_path %></li>
  <li role="presentation" class='<%= "active" if active == 'new-admin' %>'><%= link_to "Create new admin", new_admin_path %></li>
  <li role="presentation"><%= link_to "Sign out", session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" } %></li>
</ul>
