<ul class="nav nav-tabs">
  <li role="presentation" class='<%= "active" if active == 'home' %>'><%= link_to "Applications Requiring Action", admin_root_path %></li>
  <li role="presentation" class='<%= "active" if active == 'sponsor_groups' %>'><%= link_to "All Applications", admin_applications_path %></li>
  <li role="presentation" class='<%= "active" if active == 'students' %>'><%= link_to "Students", admin_students_path %></li>
  <li role="presentation" class='<%= "active" if active == 'lawyers' %>'><%= link_to "Lawyers", admin_lawyers_path %></li>
  <li role="presentation" class='<%= "active" if active == 'manage-admin' %>'><%= link_to "Admins", admin_admins_path %></li>
</ul>
