<div class="col col-md-12">
  <h3>Assignees</h3>
</div>
<div class="col col-xs-6 col-sm-6 col-md-6 text-left">
  <h4>Lawyers</h4>
  <ul>
    <% application.assignees.each do |assignee| %>
      <% if assignee.user.lawyer? %>
        <li>
          <%= assignee.user.name %> (Lawyer)
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="col col-xs-6 col-sm-6 col-md-6 text-left">
  <h4>Students</h4>
  <ul>
    <% application.assignees.each do |assignee| %>
      <% if assignee.user.student? %>
        <li>
          <%= assignee.user.name %> (Student)
          <%= link_to 'Unassign', legal_internal_assignee_path(assignee), method: :delete %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= form_for [:legal_internal, Assignee.new] do |form| %>
    <%= form.hidden_field :application_id, value: application.id %>

    <p>
      <%= form.select :user_id, grouped_options_for_select(group_by_city_select(Student.approved.not_assigned_to(application)), application.students.first.try(:id), { prompt: "Select..." }), {}, { class: 'form-control inline-block width-auto' }  %>
      <%= form.submit "Assign", class: 'btn btn-link' %>
    </p>
  <% end %>
</div>
