<h2>Sponsor Group Applications</h2>
<div class="table-responsive">
  <table id='legal-applications-table' class="table table-bordered tablesorter">
    <thead>
      <tr>
        <th>Group</th>
        <th>City</th>
        <th>Province</th>
        <th>Status</th>
        <th>Lawyer</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <% applications.each do |application| %>
        <tr>
          <th scope="row"><%= link_to application.sponsor_group.name, application_path(current_user, application) %></th>
          <td><%= application.sponsor_group.city %></td>
          <td><%= application.sponsor_group.province %></td>
          <td><%= application.state.humanize %></td>
          <td><%= application.lawyer.try(:name) %></td>
          <td><%= application.students.first.try(:name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to("Refugee Sponsorship Support Program Information", "http://refugeessp.ca/sponsorship/") %>
