<h1>Applications</h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Group</th>
        <th>City</th>
        <th>Province</th>
        <th>Status</th>
        <th>Lawyer</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <th scope="row"><%= link_to application.sponsor_group.name, admin_application_path(application) %></th>
          <td><%= application.sponsor_group.city %></td>
          <td><%= application.sponsor_group.province %></td>
          <td><%= application.state %></td>
          <%= form_for [:admin, Assignee.new] do |form| %>
            <%= form.hidden_field :application_id, value: application.id %>
            <td><%= form.select :user_id, options_from_collection_for_select(Lawyer.all, :id, :name), selected: application.lawyer.try(:id) %><%= form.submit "Assign" %></td>
          <% end %>
          <%= form_for [:admin, Assignee.new] do |form| %>
            <%= form.hidden_field :application_id, value: application.id %>
            <td><%= form.select :user_id, options_from_collection_for_select(Student.all, :id, :name), selected: application.students.first.try(:id) %><%= form.submit "Assign" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
