<h1>Application</h1>

<%= @application.state %>


<%= form_for [:admin, Assignee.new] do |form| %>
  <%= form.hidden_field :application_id, value: @application.id %>

  <p>
    <%= form.label :user_id, 'Lawyer' %>
    <%= form.select :user_id, options_from_collection_for_select(Lawyer.all, :id, :name) %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>Assignees</h2>

<ul>
  <% @application.assignees.each do |assignee| %>
    <li>
      <%= assignee.user.name %>
      <%= link_to 'Unassign', admin_assignee_path(assignee), method: :delete %>
    </li>
  <% end %>
</ul>
