<h1>Lawyers</h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Province</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Language</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @lawyers.each do |lawyer| %>
        <tr>
          <th scope="row"><%= link_to lawyer.name, admin_lawyer_path(lawyer) %></th>
          <td><%= lawyer.city %></td>
          <td><%= lawyer.province %></td>
          <td><%= lawyer.email %></td>
          <td><%= lawyer.telephone %></td>
          <td><%= lawyer.language_of_practice %></td>
          <td><%= lawyer.approved? ? "Approved" : "Pending Approval" %></td>
        </tr>
      <% end %>
      <%= will_paginate @lawyers %>
    </tbody>
  </table>
</div>
