<% content_for :javascript do %>
  <script>
    $(function() {
      new OttawaURSSP.SortableTable('#admin-table');
    });
  </script>
<% end %>
<%= render partial: "admin/nav_bar", locals: { active: 'manage-admin' } %>

<div class="table-responsive">
  <table id='admin-table' class="table table-bordered tablesorter">
    <thead>
      <tr>
        <th>Name <i class="fa fa-sort"></i></th>
        <th>Email <i class="fa fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td><%= link_to admin.name, admin_admin_path(admin) %></td>
          <td><%= admin.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="section">
  <div class="row">
    <div class="col-md-6">
      <h4>Add a new admin</h4>

      <%= form_for @new_admin, url: admin_admins_path do |f| %>
        <div class="form-group">
          <%= f.label :name, "Full name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <%= f.submit 'Add admin', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
