<% content_for :javascript do %>
  <script>
    $(function() {
      new OttawaURSSP.SortableTable('#legal-applications-table');
      new OttawaURSSP.SortableTable('#follow-up-applications-table');
    });
  </script>
<% end %>

<h4><%= current_user.name %> - <%= link_to "My Profile", student_path(current_user) %></h4>
<% if @student_applications.present? %>
  <%= render partial: "legal_internal/applications", locals: { applications: @student_applications } %>
<% else %>
  <div>
    This is where you will see information about the sponsor group(s) that you've been matched to.
    If you haven't been matched yet, you won't see any groups in this section.
  </div>
<% end %>
<br>
<% if @applications_requiring_call.present? %>
  <h1>Applications waiting for an intake discussion:</h1>
  <div class="table-responsive">
    <table id="follow-up-applications-table" class="table table-bordered tablesorter">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @applications_requiring_call.each do |application| %>
          <tr>
            <td><%= application.sponsor_group.name %></td>
            <td><%= application.sponsor_group.city %></td>
            <td><%= link_to 'Perform call', edit_legal_internal_follow_up_call_form_path(application_id: application.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
